/* colors */

:root {
    --paleBlue: hsl(225,100%,94%);
    --brightBlue: hsl(245,75%,52%);
    --vPaleBlue: hsl(225,100%,98%);
    --desatBlue: hsl(224,23%,55%);
    --darkBlue: hsl(223,47%,23%);

  }
  /* Box sizing to border-box Reset */
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* end border-box Reset */
  
  body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--paleBlue);
    
  }
  


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  footer {
    /* height: 40px; */
  }
  
  /* Mobile First ----------------------------  */
  
  .container {
    /* min-height: calc(100vh - 60px); to aid creation of sticky footer */
    width: 375px;
    margin: 0 auto;
    min-height: 96vh;
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    border: 1px dashed red;
    background-color: #ffffff;
    border-radius: 15px;
    width: 325px;
    margin: 0 auto;
  }

  .hero-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .card-body {
    margin: 25px;
    text-align: center;
  }

  h1 {
    color: var(--darkBlue);
  }

  .card-plan {
    background-color: var(--vPaleBlue);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .plan-name {
    color: var(--darkBlue);
    font-weight: 900;
  }

  .plan-price {
    color: var(--desatBlue);
  }

  .card-plan a {
    color: var(--brightBlue);
    text-decoration: underline;
  }

.card-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

  .btn {
    display: inline-block;
    background-color: var(--brightBlue);
    color: #fff;
    border: 0px;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

  }

  .btn-cancel {
    background-color: transparent;
    color: var(--desatBlue);
    font-weight: 700;

  }
   .btn-proceed {

   }
